<ion-scroll>
	<div class="list">
		<label class="item item-input">
		<input type="text" placeholder="Name" ng-model="userForm.name">
  	</label>
		<label class="item item-input">
		<input type="text" placeholder="Surname" ng-model="userForm.surname">
  	</label>
		<label class="item item-input">
		<input type="text" placeholder="Email" ng-model="userForm.email">
  	</label>
		<label class="item item-input">
    	<input type="password" placeholder="Password" ng-model="userForm.password">
  	</label>
		<label class="item item-input">
    	<input type="password" placeholder="Repeat password" ng-model="userForm.password2">
  	</label>
	</div>
</ion-scroll>
